.galleries {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.gallery__title {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 2.2rem;
  font-weight: 700;
}

.gallery__seeall {
  align-items: center;
  display: flex;
}

.gallery__seeall--text {
  color: var(--blue100);
  font-family: var(--pagefont);
  font-weight: 700;
}

.gallery__seeall--img {
  background: no-repeat center / cover;
  background-image: url(./imgs/arrow.svg);
}

.gallery__products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.gallery__product {
  display: flex;
  flex-direction: column;
}

.gallery__product--img {
  height: 100%;
  margin-bottom: 0.8rem;
  width: 100%;
}

.gallery__product--description {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.gallery__product--price {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.gallery__product--seeproduct {
  color: var(--blue100);
  font-family: var(--pagefont);
  font-weight: 700;
}

@media  screen and (min-width: 0) {
  .galleries {
    padding: 0 1.6rem;
  }
  .gallery {
    margin-top: 1.6rem;
  }
  .gallery__header {
    margin-bottom: 1.6rem;
  }
  .gallery__seeall--text {
    font-size: 1.4rem;
  }
  .gallery__seeall--img {
    height: 1.6rem;
    width: 1.6rem;
  }
  .gallery__product {
    margin-bottom: 1.6rem;
    width: calc(50% - 0.8rem);
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product--desktop {
    display: none;
  }
  .gallery__product--seeproduct {
    font-size: 1.4rem;
  }
  
}

@media  screen and (min-width: 768px) {
  .galleries {
    padding: 0 3.2rem;
  }
  .gallery {
    margin-top: 3.2rem;
  }
  .gallery__header {
    margin-bottom: 1.6rem;
  }
  .gallery__seeall--text {
    font-size: 1.6rem;
  }
  .gallery__seeall--img {
    height: 2.4rem;
    width: 2.4rem;
  }
  .gallery__product {
    margin-bottom: 3.2rem;
    margin-right: 1.6rem;
    width: calc( (100% - 4.8rem)/4 );
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(4n){
    margin-right: 0;
  }
  .gallery__product--desktop {
    display: none;
  }
  .gallery__product--seeproduct {
    font-size: 1.6rem;
  }
}

@media  screen and (min-width: 1200px) {
  .galleries {
    padding: 0 15.2rem 6.4rem 15.2rem;
  }
  .gallery {
    margin-top: 6.4rem;
  }
  .gallery__header {
    margin-bottom: 1.6rem;
  }
  .gallery__seeall--text {
    font-size: 1.6rem;
  }
  .gallery__seeall--img {
    height: 2.4rem;
    width: 2.4rem;
  }
  .gallery__product {
    margin-bottom: 0;
    margin-right: 1.6rem;
    width: calc( (100% - 8rem) / 6 );
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(4n){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(6n){
    margin-right: 0;
  }
  .gallery__product--desktop {
    display: flex;
  }
  .gallery__product--seeproduct {
    font-size: 1.6rem;
  }
}