/* PRODUCT SESSION */
.product {
  background: var(--black05);
}

.product__img {
  object-fit: fit;
}

.product__title {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 2.2rem;
  font-weight: 500;
}

.product__price {
  color: var(--black100);
  font-family: var(--pagefont);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.product__description {
  color: var(--black100);
  font-family: var(--pagefont);
}

/* SIMILARPRODUCTS SESSION */
.similarproducts {
  background: var(--black05);
  display: flex;
  flex-direction: column;
}

.similarproduct__title {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.similarproduct__products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.similarproduct__product {
  display: flex;
  flex-direction: column;
}

.similarproduct__product--img {
  height: 100%;
  margin-bottom: 0.8rem;
  width: 100%;
}

.similarproduct__product--description {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.similarproduct__product--price {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.similarproduct__product--seeproduct {
  color: var(--blue100);
  font-family: var(--pagefont);
  font-weight: 700;
}

@media  screen and (min-width: 0) {
  .product {
    padding: 0;
  }
  .product__img {
    height: 19.2rem;
    width: 100vw;
  }
  .product__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1.6rem;
    margin-bottom: 0.8rem;
  }
  .product__price {
    margin: 0 1.6rem;
    margin-bottom: 0.8rem;
  }
  .product__description {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 1.6rem;
    margin-bottom: 1.6rem;
  }

  .similarproducts {
    padding: 1.6rem 1.6rem 0 1.6rem;
  }
  .similarproduct__product {
    margin-bottom: 1.6rem;
    width: calc(50% - 0.8rem);
  }
  .similarproduct__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .similarproduct__product--desktop {
    display: none;
  }
  .similarproduct__product--seeproduct {
    font-size: 1.4rem;
  }
  
}

@media  screen and (min-width: 768px) {
  .product {
    padding: 3.2rem;
    overflow: hidden;
  }
  .product__img {
    float: left;
    height: auto;
    width: 36%;
    margin-right: 1.6rem;
  }
  .product__title {
    margin: 0;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .product__price {
    margin: 0;
    margin-bottom: 0.8rem;
  }
  .product__description {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }


  .similarproducts{
    padding: 3.2rem;
  }
  .similarproduct__product {
    margin-bottom: 0;
    margin-right: 1.6rem;
    width: calc( (100% - 4.8rem)/4 );
  }
  .similarproduct__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .similarproduct__product:nth-child(4n){
    margin-right: 0;
  }
  .similarproduct__product--desktop {
    display: none;
  }
  .similarproduct__product--seeproduct {
    font-size: 1.6rem;
  }
}

@media  screen and (min-width: 1200px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    height: 40.0rem;
    justify-content: center;
    padding: 6.4rem 15.2rem;
  }
  .product__img {
    height: 100%;
    width: 35%;
    margin-right: 1.6rem;
  }
  .product__title {
    font-size: 5.2rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.8rem;
  }
  .product__price {
    margin: 0;
    margin-bottom: 0.8rem;
  }
  .product__description {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
    width: 65%;
  }


  .similarproducts {
    padding: 0 15.2rem 6.4rem 15.2rem;
  }
  .similarproduct__product {
    margin-bottom: 0;
    margin-right: 1.6rem;
    width: calc( (100% - 8rem) / 6 );
  }
  .similarproduct__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .similarproduct__product:nth-child(4n){
    margin-right: 1.6rem;
  }
  .similarproduct__product:nth-child(6n){
    margin-right: 0;
  }
  .similarproduct__product--desktop {
    display: flex;
  }
  .similarproduct__product--seeproduct {
    font-size: 1.6rem;
  }
}