:root {
  --blue10: #EAF2FD;
  --blue20: #D4E4FA;
  --blue80: #5595E9;
  --blue100: #2A7AE4;
  --black05: #F5F5F5;
  --black30: #C8C8C8;
  --black50: #A2A2A2;
  --black100: #464646;
  --pagefont: 'Raleway', sans-serif;
  --white: #FFFFFF;

  font-size: 62.5%;
}

.bluebutton {
  background: var(--blue100);
  border: 0.1rem solid var(--blue100);
  border-radius: 0;
  color: var(--white);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 600;
}
.bluebutton:hover {
  background: var(--blue80);
  border: none;
  cursor: pointer;
}

.whtbutton {
  background: none;
  border: 0.1rem solid var(--blue100);
  border-radius: 0;
  color: var(--blue100);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 600;
}
.whtbutton:hover {
  background: var(--blue20);
  cursor: pointer;
}

.gallery__product {
  display: flex;
  flex-direction: column;
}

.gallery__product--img {
  height: 100%;
  margin-bottom: 0.8rem;
  width: 100%;
}

.gallery__product--name {
  color: var(--black100);
  flex-shrink: 0;
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gallery__product--price {
  color: var(--black100);
  font-family: var(--pagefont);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.gallery__product--seeproduct {
  color: var(--blue100);
  font-family: var(--pagefont);
  font-weight: 700;
}

.hide {
  display: none;
}

@media  screen and (min-width: 0) {
  .gallery__product {
    margin-bottom: 1.6rem;
    width: calc(50% - 0.8rem);
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product--desktop {
    display: none;
  }
  .gallery__product--seeproduct {
    font-size: 1.4rem;
  }
  
}

@media  screen and (min-width: 768px) {
  .gallery__product {
    margin-bottom: 3.2rem;
    margin-right: 1.6rem;
    width: calc( (100% - 4.8rem)/4 );
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(4n){
    margin-right: 0;
  }
  .gallery__product--desktop {
    display: none;
  }
  .gallery__product--seeproduct {
    font-size: 1.6rem;
  }
}

@media  screen and (min-width: 1200px) {
  .gallery__product {
    margin-bottom: 6.4rem;
    margin-right: 1.6rem;
    width: calc( (100% - 8rem) / 6 );
  }
  .gallery__product:nth-child(2n+1){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(4n){
    margin-right: 1.6rem;
  }
  .gallery__product:nth-child(6n){
    margin-right: 0;
  }
  .gallery__product--desktop {
    display: flex;
  }
  .gallery__product--seeproduct {
    font-size: 1.6rem;
  }
}