:root {
  --blue10: #EAF2FD;
  --blue20: #D4E4FA;
  --blue80: #5595E9;
  --blue100: #2A7AE4;
  --black05: #F5F5F5;
  --black30: #C8C8C8;
  --black50: #A2A2A2;
  --black100: #464646;
  --pagefont: 'Raleway', sans-serif;
  --white: #FFFFFF;

  font-size: 62.5%;
}

.whtbutton {
  background: none;
  border: 0.1rem solid var(--blue100);
  border-radius: 0;
  color: var(--blue100);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 600;
}
.whtbutton:hover {
  background: var(--blue20);
  cursor: pointer;
}

.bluebutton {
  background: var(--blue100);
  border: 0.1rem solid var(--blue100);
  border-radius: 0;
  color: var(--white);
  font-family: var(--pagefont);
  font-size: 1.4rem;
  font-weight: 600;
}
.bluebutton:hover {
  background: var(--blue80);
  border: none;
  cursor: pointer;
}