.allprod {
  background: var(--black05);
  display: flex;
  flex-direction: column;
}

.allprod__header {
  display: flex;
  justify-content: space-between;
}

.allprod__title {
  color: var(--black100);
  font-family: var(--pagefont);
  font-weight: 700;
}

.allprod__addbutton {
  font-weight: 600;
}

.allprod__products {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.gallery__product--prodID {
  color: var(--black100);
  display: block;
  font-family: var(--pagefont);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

@media  screen and (min-width: 0) {
  .allprod {
    padding: 1.6rem;
    padding-bottom: 0;
  }
  .allprod__header {
    flex-direction: column;
    margin-bottom: 1.6rem;
  }
  .allprod__title {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }
  .allprod__addbutton {
    font-size: 1.4rem;
    height: 4rem;
    width: 15.1rem;
  }
}

@media  screen and (min-width: 768px) {
  .allprod {
    padding: 3.2rem;
    padding-bottom: 0;
  }
  .allprod__header {
    align-items: center;
    flex-direction: row;
    margin-bottom: 1.6rem;
  }
  .allprod__title {
    font-size: 2.2rem;
    margin-bottom: 0;
  }
  .allprod__addbutton {
    font-size: 1.4rem;
    height: 4rem;
    width: 15.1rem;
  }
}

@media  screen and (min-width: 1200px) {
  .allprod {
    padding: 6.4rem 15.2rem 0 15.2rem;
  }
  .allprod__header {
    flex-direction: row;
    margin-bottom: 1.6rem;
  }
  .allprod__title {
    font-size: 3.2rem;
    margin-bottom: 0;
  }
  .allprod__addbutton {
    font-size: 1.6rem;
    height: 5.1rem;
    width: 16.5rem;
  }
}